{
    "root": true,
    "extends": [
        "prettier",
        "prettier/vue",
        "prettier/babel",
        "plugin:vue/recommended",
        "plugin:prettier/recommended"
    ],
    "env": {
        "es6": true
    }
}
